$light-grayish-violet: hsl(270, 3%, 87%);
$very-dark-violet: hsl(278, 68%, 11%);
$color-body: #f0f0f0;
$color-bg: hsl(0, 0%, 100%);
$color-card-front: hsl(0, 0%, 100%);
$color-card-back: hsl(0, 0%, 100%);
$color-label: $very-dark-violet;
$color-input-border: $light-grayish-violet;
$color-input-placeholder: $light-grayish-violet;
$color-error: hsl(0, 100%, 66%);
$color-button: $very-dark-violet;
$color-button-text: $light-grayish-violet;
$color-completed-text-1: $very-dark-violet;
$color-completed-text-2: hsl(279, 6%, 55%);
