$image-main-desktop: url("../images/bg-main-desktop.png");
$image-card-front: url("../images/bg-card-front.png");
$image-card-back: url("../images/bg-card-back.png");
$image-card-logo: url("../images/card-logo.svg");
