@import 'reset';
@import 'colors';
@import 'images';

:root {
    --color-body: #{$color-body};
    --color-bg: #{$color-bg};
    --color-card-front: #{$color-card-front};
    --color-card-back: #{$color-card-back};
    --color-label: #{$color-label};
    --color-input-border: #{$color-input-border};
    --color-input-placeholder: #{$color-input-placeholder};
    --color-error: #{$color-error};
    --color-button: #{$color-button};
    --color-button-text: #{$color-button-text};
    --color-completed-text-1: #{$color-completed-text-1};
    --color-completed-text-2: #{$color-completed-text-2};
    --image-main-desktop: #{$image-main-desktop};
    --image-card-front: #{$image-card-front};
    --image-card-back: #{$image-card-back};
    --image-card-logo: #{$image-card-logo};
    font-family: "Space Grotesk", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-body);
    height: 100vh;
}

form,
label,
input,
button {
    display: block;
}

.container {
    width: 1440px;
    height: 900px;
}

%button {
    border-radius: 8px;
    background-color: var(--color-button);
    width: 100%;
    height: 53px;
    color: var(--color-button-text);
    font-family: inherit;
    font-size: 18px;
}

.card {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--color-bg);
    height: 100%;

    &__image {
        position: relative;
        flex: 1;
        background: var(--image-main-desktop) no-repeat;

        &__front {
            position: absolute;
            top: 187px;
            left: 164px;
            background: var(--image-card-logo) no-repeat 30px 26px,
                var(--image-card-front) no-repeat;
            padding: 140px 2rem 0;
            width: 447px;
            height: 245px;
            color: var(--color-card-front);
            text-transform: uppercase;

            &__number {
                font-size: 1.75rem;
                letter-spacing: 0.2rem;
                min-height: 36px;
            }

            & > div:nth-child(2) {
                display: flex;
                padding-top: 1.75rem;
                font-size: 14px;
                letter-spacing: 0.125rem;
            }

            &__expiration {
                margin-left: auto;
            }
        }

        &__back {
            position: absolute;
            top: 479px;
            left: 256px;
            background: var(--image-card-back) no-repeat;
            width: 447px;
            height: 245px;
            color: var(--color-card-back);

            &__cvc {
                position: relative;
                top: 110px;
                left: 357px;
                max-width: 50px;
                font-size: 0.875rem;
            }
        }
    }

    &__details {
        display: flex;
        flex: 1;
        align-items: center;
        padding-left: 224px;
        font-size: 12px;

        &__form {
            width: 381px;

            & label {
                margin-top: 1.75rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                color: var(--color-label);
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            & > label:first-child {
                margin-top: 0;
            }

            & input {
                border: 1px solid var(--color-input-border);
                border-radius: 8px;
                padding: 0 1rem;
                width: 100%;
                height: 45px;
                font-size: 18px;

                &::placeholder {
                    color: var(--color-input-placeholder);
                }

                &[aria-invalid="true"] {
                    border-color: var(--color-error);

                    & + span.error {
                        display: block;
                    }
                }
            }

            & .error {
                display: none;
                color: var(--color-error);
            }

            & > div {
                display: flex;
                column-gap: 20px;
            }

            &__exp > div {
                display: flex;
                column-gap: 10px;

                & > input {
                    display: inline-block;
                    width: 80px;
                }
            }

            & div:has(input[aria-invalid="true"]) + span.error {
                display: block;
            }

            & > button {
                @extend %button;
                margin-top: 2.5rem;
            }
        }

        &__completed {
            display: none;
            width: 381px;
            text-align: center;

            & p:first-of-type {
                font-size: 28px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-top: 2rem;
                margin-bottom: 1rem;
                color: var(--color-completed-text-1);
            }

            & p:last-of-type {
                font-size: 18px;
                color: var(--color-completed-text-2);
            }

            & button {
                @extend %button;
                margin-top: 3rem;
            }
        }
    }
}
